<main>
    <header class="p-3 text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-end">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <div class="text-end ms-auto">
              <button 
              type="button" 
              class="btn btn-success me-2" 
              [routerLink]="'/crud/product-form'">Aggiungi prodotto</button>
              <button 
              type="button" 
              class="btn btn-success me-2" 
              [routerLink]="'/crud/product-list'">Lista prodotti</button>
            </div>
          </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</main>
